body{
    background: #C7BBCE;
}

/* Navigation */

nav{
    position: sticky;
    background:#4c0573;
}


#name{
    color: white;
    font-size: 20px;
}

.hero img{
    position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* Header */

header{
    padding: 60px;
    background-color: #651790;
    color: white;
}

/* About */
#what-i-do{
    margin-top:40px;
}

/* Contact */
#contact{
    background:#A57DBB;
    color: white;
    border: white solid 2px;
    margin-top: 40px;
}   

/* Portfolio */
img{
    height: 200px;
    width: 200px;
}

/* Footer */
.fa {
    padding: 20px;
    font-size: 0px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    }

.fa-facebook {
    background: #3B5998;
    color: white;}

.fa-linkedin {
    background: #007bb5;
    color: white;}

.fa-github {
    background: #6cc644;
    color: white;
}
    

/* Media Queries */

@media only screen and (max-width: 768px) {
#contact, #what-i-do, #about{
    text-align: center;

}

    





/* As hex codes

.color-primary-0 { color: #7A3F9B }	/* Main Primary color */
.color-primary-1 { color: #C7BBCE }
.color-primary-2 { color: #A57DBB }
.color-primary-3 { color: #651790 }
.color-primary-4 { color: #4C0573 }

